<div class="container">
  <!-- <div class="row" centered>
    <div class="col-xs-12 col-md-6 col-lg-6"> -->

      <form (submit)="onUserCreate(userForm)" #userForm="ngForm"> 
      <div class="form-group" > 
        <input type="text" class="form-control" placeholder="Enter Name" name="name" ngModel/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Age" name="age" ngModel/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Admission Number" name="admno" ngModel/>
      </div>
      <div class="form-group">
         <input type="text" class="form-control" placeholder="Enter Roll Number" name="rollno"ngModel />
      </div>  
      <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter College" name="college" ngModel/>
      </div>
      <hr>
      <div class="form-group">
        <button class="btn btn-primary">SAVE</button>
     
      </div>

    </form>
    <!-- </div>
  </div> -->
</div>
